/* Label */

.label__primary {
    color: gray;
    display: block;
    font-size: 14px;
    font-family: Rubik-Medium, sans-serif;
}

.label__secondary {
  display: inline-block;
  font-weight: 500;
  font-size: 0.85rem;
}

/* Font */

@font-face {
    font-family: "Rubik-Medium";
    src: url("../../assets/fonts/Rubik-Medium.ttf") format("woff2");
}