/* SIDEBAR */
.page__sidebar {
    background: #fff;
    border-right: 0;
}

.page__sidebar::-webkit-scrollbar{
    width: 10px;
}

.page__sidebar::-webkit-scrollbar-track{
    background: #f1f1f1; 
}

.page__sidebar::-webkit-scrollbar-thumb{
    background: #888; 
}

.page__sidebar .page__sidebar--navigation {
    padding-top: 12px;
}

.page__sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.page__sidebar .page__sidebar--navigation .sidebar__navigation--link {
    color: #777777;
    font-size: 1rem;
    padding: 1rem 1rem;
}

.page__sidebar a.active > a, a[aria-expanded="true"] {
    /* color: #7d7d7d !important; */
}

.page__sidebar .page__sidebar--navigation .sidebar__navigation--link:hover {
}

.page__sidebar .page__sidebar--navigation .sidebar__link--list .sidebar__navigation--link {
    padding: 0.5rem 4rem;
}

.page__sidebar--header {
    background: #003c52;
    padding: 4.8rem 0rem 1rem 0rem;
    border-bottom: 1px solid #36383f;
    text-align: center;
}

.sidebar__header--icon {
    font-size: 48px;
    color: #eceff1;
    display: inline-block;
}

.sidebar__header--info {
}

.sidebar__header--text {
    font-size: 1rem;
    color: #eceff1;
    display: block;
    padding: 0.5rem 0rem;
}

.sidebar__menu {
    display: inline-block;
    color: #fff;
}

.sidebar__menu--button {
}

.sidebar__menu--icon {
    font-size: 20px;
}

.sidebar__menu--tooltip {
}

.sidebar__navigation--link {
    padding: 16px 56px;
    color: #777777;
    font-weight: 400;
    display: block;
}

.sidebar__navitagion--icon {
    font-size: 20px;
    margin-right: 20px;
    width: 20px;
}
.sidebar__link--group {
    background-color: #ededed;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) inset !important;
    padding: 0.5rem 0;
}
.sidebar__link--group .sidebar__navigation--link {
    padding: 0.5rem 20px  0.5rem 53px !important;
}
.sidebar__navitagion--section {
    background-color: #003c52;
    color: #fff !important;
    display: block;
    font-weight: 400;
    font-size: 14px;
    padding: 16px;
    line-height: 24px;
    letter-spacing: 0;
    opacity: .87;
}
.sidebar__navitagion--section:hover {
    background-color: #003c52 !important;
    cursor: pointer;
}