/* Login */
body {
    font-family: "Helvetica","Arial", sans-serif;
}
.page__login--layout {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}
.page__login--background {
    background-image: url("../../../src/assets/img/login-background-image.jpg");
    width: calc(100% - 480px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.page__login--form {
    width: 480px;
    min-height: 100vh;
    display: block;
    background-color: #fff;
    padding: 100px 35px 55px;
}
.page__login--title {
    text-align: center;
    margin-bottom: 5rem;
}
.login__title--text {
    font-family: Rubik-Medium;
    text-transform: uppercase;
}
.login__title--icon {
    transform: rotate(45deg);
}
.login__form--group {
    margin-bottom: 2rem;
    position: relative;
}
.login__form--input {
    background: #fff;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
    display: inline-block;
    font-size: 16px;
    font-family: Roboto-Light;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 100%;
}
.login__form--input::placeholder {
    font-size: 18px;
    color: #b3b3b3;
}
.login__form--icon {
    font-size: 20px !important;
    position: absolute;
    top: 3px;
    left: 15px;
}
.login__form--button {
    background-color: #073e77;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
}
.login__form--checkbox {
    display: inline-block;
    width: 200px;
}
.login__checkbox--text {
    font-size: 13px;
}
.login__form--link {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    float: right;
    line-height: 24px;
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../../assets/fonts/Roboto-Light.ttf") format("woff2");
}
@font-face {
    font-family: "Rubik-Medium";
    src: url("../../assets/fonts/Rubik-Medium.ttf") format("woff2");
}