/* List */


.item__data--group {
    display: inline-block;
}

.item__title {
    font-size: 1.1rem; 
    margin-bottom: 0.5rem;
}

.list__data dl, dd, dt {
    margin: 0rem;
    font-size: 0.8rem;
    font-weight: normal; 
}

.list__data dt {
    padding-right: 2px; 
}

.list__data dd {
    padding-right: 1.2rem; 
}

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
    .item__data--group {
        width: 100%;
    }
}