.showcase-list {
}

.showcase-list__secondary {
    padding: 1rem;
}

.showcase__item {
    padding: 1rem;
    text-align: center;
}

.showcase-list__icon--wrap {

}

.showcase-list__icon {
    font-size: 2rem;
    color: #148a9d;
    margin-bottom: 1rem;
}

.showcase-list__wrap {

}

.showcase-list__title {
    font-weight: bold;
}

.showcase-list__text {
}