html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
	background-color: #141414;
	font-family: Raleway,Arial,Helvetica,sans-serif;
}

#about,
#services,
#benefits,
#our-establishment,
#contact {
	position: absolute;
	top: -8vh;
}

.color-special {
	color: #dbab83;
}

.video {
	width: 760px;
	margin: 2em auto;
}

.map {
	width: 800px;
	margin: 0 auto;
}

.header__link-group {
	list-style-type: none;
	display: inline-block;
}

.header__link {
	display: inline-block;
	margin-left: 1rem;
}

.header__link a {
	color: #dbab83;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
}

.page__header {
	background-color: #141414;
	padding: 1rem 2rem;
	position: fixed;
	width: 100%;
	z-index: 999999;
}

.page__title {
	color: #fff;
	margin: 0;
	font-family: "Rubik-Medium";
	display: inline-block;
}

.page__section--primary {
	position: relative;
	padding: 4rem;
}

.page__section--secondary {
	position: relative;
}

.page__background--primary {
	height: 100vh;
}

.page__background--secondary {
	height: 100%; 
}

/* .background__blur {
	filter: blur(5px) brightness(25%);
	-webkit-filter: blur(5px) brightness(25%);
} */

.page__background--primary,
.page__background--secondary {
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.section__title--primary {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 36px;
}

.section__title--secondary {
	font-size: 70px;
	margin: 0 0 3rem 0;
}

.section__title--primary,
.section__title--secondary {
	color: #dbab83;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
}

.section__wrap {
	margin-right: auto;
    margin-left: auto;
	width: 70%;
}

.section__text {
	text-align: center;
	color: #dfdfdf;
	padding: .5rem 0;
}

.section__content {
	padding: 4rem 0;
}

.section__list {
	text-align: center;
}

.list__item {
	display: inline-block;
	padding: 2rem;
	margin: 0 2rem;

}

.list__item-decoration {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 200px;
	height: 200px;
	transition: .3s;
}

.list__item-decoration:hover {
	transform: scale(.95);
}

.list__item-icon {
	color: #fff;
	font-size: 52px;
	margin-top: 35%;
}

.list__item-text {
	color: #fff;
}

.card__group {
	text-align: center;
	margin-top: 4rem;
}

.card {
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	overflow: hidden;
	transform: translateZ( 0 );
	transition: .3s;
	width: 280px;
	height: 530px;
	margin: 3rem;
}

.card:hover {
    transform-origin: bottom center;
	transition: transform .35s ease-in-out, opacity .5s ease-in-out;
	transform: scale( 1.03);
}

.card__title {
	color: #dbab83;
	font-weight: 500;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	margin: 0;
}

.card__image {

}




@media (max-width: 900px) {
    .video {
        width: 100%;
    }
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../assets/fonts/Rubik-Medium.ttf") format("woff2");
}