body {
	background-color: #141414;
	font-family: Raleway,Arial,Helvetica,sans-serif;
}

.color-special {
	color: #dbab83;
}

.page__header {
	background-color: #141414;
	padding: 1rem 2rem;
	position: fixed;
	width: 100%;
}
.page__title {
	color: #fff;
	margin: 0;
	font-family: "Rubik-Medium";
}

.page__section {
	position: relative;
}

.page__banner--primary {
	background-image: url('../assets/img/banner.jpg');
	height: 100vh; 
}

.page__banner--secondary {
	background-image: url('../assets/img/banner2.jpg');
	height: 440px; 
    filter: blur(5px) brightness(25%);
	-webkit-filter: blur(5px) brightness(25%);
	position: relative;
}

.page__banner--primary,
.page__banner--secondary {
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
	padding: 5rem 3rem 3rem 3rem;
}

.about__title {
	color: #dbab83;
	font-weight: 700;
	font-size: 70px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 3rem 0;
}

.about__wrap {
	margin-right: auto;
    margin-left: auto;
	width: 70%;
	text-align: center;
}

.about__text {
	color: #dfdfdf;
	padding: 1rem 0;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

.benefits {
	position: absolute;
	padding: 2rem 2rem 0rem 2rem;
	top: 0;
	right: 0;
	left: 0;
}

.benefits__title {
	color: #dbab83;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
}

.benefits__list {
	text-align: center;
}

.benefits__item {
	display: inline-block;
	padding: 2rem;
	margin: 0 2rem;

}
.benefits__item-decoration {
	border-radius: 50%;
	border: 1px solid #fff;
	width: 200px;
	height: 200px;
	transition: .3s;
}

.benefits__item-decoration:hover {
	transform: scale(.95);
}

.benefits__item-icon {
	color: #fff;
	font-size: 52px;
	margin-top: 35%;
}

.benefits__text {
	color: #fff;
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../assets/fonts/Rubik-Medium.ttf") format("woff2");
}