/* HEADER */
.page__layout {
}

.page__layout--spacer {
}

.page__layout--header {
  background: linear-gradient(90deg, #00679a 0%, rgba(0,145,179,1) 50%, rgba(0,185,203,1) 100%);
}

.page__header--row {
}

.page__header--title {
  text-transform: uppercase;
}

.page__header--menu {
  cursor: pointer;
  margin-left: 10px;
}

.page__header--button {
  display: inline-block;
}

.header__button--icon {
  font-size: 1.6rem;
}

.header__button--tooltip {
}