/* Input */

.input__primary {
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik-Medium', sans-serif;
    height: 40px;
    outline: 0;
    padding-left: 16px;
    -webkit-transition: .2s;
    transition: .2s;
    width: 100%;
}

.input__primary:focus {
  border-color: #3E96F4;
}

.input__secondary {
  background: #fff;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: inline-block;
  width: 100%; 
  font-size: 0.9rem;
}