.card__tertiary {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.card__tertiary--content {
    box-shadow: 0px 5px 8px -3px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    transition-duration: 250ms;
    border-radius: .25rem;
    height: 100%;
}

.card__tertiary--content:hover {
    box-shadow: 0 10px 20px -8px rgba(0,0,0,0.3);
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 250ms;
}

.card__tertiary--body {
    padding: 16px 56px;
    padding: 1rem 1rem;
    text-align: center;
}

.card__tertiary--icon {
    font-size: 50px;
    vertical-align: middle;
}

.card__tertiary--title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    z-index: 99;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1300px) {


}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1050px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}