.card__primary {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.card__primary--content {
    box-shadow: 0px 5px 8px -3px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    transition-duration: 250ms;
    border-radius: .25rem;
    height: 100%;
}

.card__primary--content:hover {
    box-shadow: 0 10px 20px -8px rgba(0,0,0,0.3);
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 250ms;
}

.card__primary--body {
    padding: 2.5rem 2rem;
    text-align: center;
    position: relative;
}

.card__primary--footer {
    line-height: normal;
    width: 100%;
    padding: 8px;
}

.card__primary--title {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
}

.card__primary--icon {
    font-size: 80px;
    color: #fff;
}